body {
    
}
table, td, th {
    border-collapse: collapse;
    text-align: center;
}
table{
    border: solid thin black;
    border-radius: 25px;
}
.highlighted{
    background-color: grey;
}
.hidden{
    display: none;
}
th{
    text-align: center !important; 
}
th:hover{
    cursor:pointer;
}

